@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";
@plugin "@tailwindcss/typography";
@custom-variant dark (&:where(.dark, .dark *));

.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card-animation {
  position: relative;
  overflow: hidden;
}

.card-animation::before {
    content: "";
    position: absolute;
    background-color: transparent;
    top: 0;
    overflow: hidden;
    transform: translateX(-100%);
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, #51A2FF1A, transparent);
    transition: transform 0.3s ease-in;
    z-index: 0;
  }

  .card-animation:hover {
    background-color: #6e819b1a;
    &&::before {
      transform: translateX(100%);
  }
  }


  .scroll-reveal {
    animation: reveal linear both;
	  animation-timeline: view();
	  animation-range: entry 5% cover 15%
  }

  @keyframes reveal {
	from {
		opacity: 0;
		translate: 0 50px;
	}
	to {
		opacity: 1;
		translate: 0 0;
	}
}


/* .bg-image-animation {
  background-image: url("/src/assets/locationCard/arg-bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  filter: brightness(0.85);
} */

@theme {
  --color-backgroundDark: transparent;
  --color-backgroundLight: transparent;
  --color-cardDark: rgb(13 16 20);
  --color-cardLight: rgb(249 250 251);
  --color-borderDark: rgb(54 65 79);
  --color-borderLight: rgb(255 255 255);
  --font-montserrat: "Montserrat";
  --font-firaSans: Fira Sans;

  --animate-spin-and-back: spin 1s linear 100ms;

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(360deg);
    }
    100%{
      transform: rotate(0deg);
    }
  }
}

.dark {
  /* --background-dark: rgb(13 16 20);
  --card-dark: rgb(27 32 36);
  --border-dark: rgb(54 65 79); */
  background-color: rgb(13 16 20);
}

.light {
  /* --background-light: rgb(249 250 251);
  --card-light: rgb(249 250 251);
  --border-light: rgb(255 255 255); */
  background-color: rgb(249 250 251);
}

/******** Grid Areas ********/

.grid-tablet-layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Ejemplo de 2 columnas */
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto; /* Ejemplo de filas automáticas */
  grid-template-areas:
    "navbar navbar"
    "profile mode"
    "profile email"
    "profile language"
    "location location"
    "blog blog"
    "projects whatiuse"
    "projects whatiuse"
    "weather whatiuse"
    "weather whatiuse"
    "github github"
    "twitter linkedin";
}

.grid-navbar {
  grid-area: navbar;
}

.grid-profile {
  grid-area: profile;
}

.grid-mode {
  grid-area: mode;
}

.grid-language {
  grid-area: language;
}

.grid-email {
  grid-area: email;
}

.grid-location {
  grid-area: location;
}

.grid-blog {
  grid-area: blog;
}

.grid-projects {
  grid-area: projects;
}

.grid-whatiuse {
  grid-area: whatiuse;
}

.grid-wheather {
  grid-area: wheather;
}

.grid-github {
  grid-area: github;
}

.grid-linkedin {
  grid-area: linkedin;
}

.grid-twitter {
  grid-area: twitter;
}
