@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@plugin "@tailwindcss/typography";
@custom-variant dark (&:where(.dark, .dark *));

.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@theme {
  --color-backgroundDark: rgb(13 16 20);
  --color-backgroundLight: rgb(249 250 251);
  --color-cardDark: rgb(27 32 36);
  --color-cardLight: rgb(249 250 251);
  --color-borderDark: rgb(54 65 79);
  --color-borderLight: rgb(255 255 255);
  --font-montserrat: "Montserrat";
  --font-firaSans: Fira Sans
}

.dark {
  /* --background-dark: rgb(13 16 20);
  --card-dark: rgb(27 32 36);
  --border-dark: rgb(54 65 79); */
  background-color: rgb(13 16 20);
}

.light {
  /* --background-light: rgb(249 250 251);
  --card-light: rgb(249 250 251);
  --border-light: rgb(255 255 255); */
  background-color: rgb(249 250 251)
}

/******** Grid Areas ********/

.grid-tablet-layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Ejemplo de 3 columnas */
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto;   /* Ejemplo de filas automáticas */
  grid-template-areas:
    "navbar navbar"
    "profile mode"
    "profile mode"
    "profile language"
    "location location"
    "blog blog"
    "projects whatiuse"
    "projects whatiuse"
    "weather whatiuse"
    "weather whatiuse";
}

.grid-navbar {
  grid-area: navbar;
}

.grid-profile {
  grid-area: profile;
}

.grid-mode {
  grid-area: mode;
}

.grid-language {
  grid-area: language;
}

.grid-random {
  grid-area: random
}

.grid-location {
  grid-area: location;
}

.grid-blog {
  grid-area: blog;
}

.grid-projects {
  grid-area: projects
}

.grid-whatiuse {
  grid-area: whatiuse;
}
.grid-wheather {
  grid-area: wheather;
}